.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-list li {
  text-align: left;
}

.App-input input {
  color: white;
  height: auto;
  border-style: none;
  border-radius: 5px;
  background: rgba(57, 63, 84, 0.8);
  padding: 2px 10px;
  font-size: calc(10px + 2vmin);
  outline: none;
}
